<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>One Time Share</title>
</head>
<body>
    <div class="row" id="boxes"></div>
    <p>Link is Generated!!...</p>
    <script>
        
        var name_json

        function ajax() {
          var xhr = new XMLHttpRequest()
          xhr.open('GET', '/static/json/pdf_name.json', true)
    
          xhr.onload = function () {
            jsondata = JSON.parse(this.responseText)
    
            name_json = jsondata
            console.log(name_json)
          }
          xhr.send()
          return 0
        }


        async function run_js() {
          const fist = await ajax()
          const mytimeout = setTimeout(addbox, 1500)
        }


        async function downloader(pointer) {

            const pdf_response = await fetch(`/show_link`, { method: 'POST', body: String(pointer), headers: { 'Content-Type': 'text/plain' } })
      
            const response = await pdf_response.blob()
      
            return response
          }
      
          function download(notation) {
            downloader(notation).then(blob => {
              var url = window.URL.createObjectURL(blob);
              var a = document.createElement('a');
              a.href = url;
              note = String(notation)
              a.download = name_json[note];
              document.body.appendChild(a); // we need to append the element to the dom -> otherwise it will not work in firefox
              a.click();
              a.remove();
            })
          }
          
          function info(){
            setTimeout(
          function()
          { window.open("/del_link","_self");}, 15000);
          }


          function addbox() {
            console.log(name_json)
            var nopdf = Object.keys(name_json).length
            console.log(nopdf)
            for (let i = nopdf-1; i < nopdf; i++) {
              const div = document.createElement('div');

              div.className = "col-md-4";


             div.innerHTML = `<div class="mx-5 mt-4">
                                <button href="#" class="btn btn-primary" onclick= "download(${i});info();">Download</button>
                              </div>`;

             document.getElementById('boxes').appendChild(div);

             }
          }
          
          run_js()
    </script>
</body>
</html>